@import '/src/js/vars.ts';

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/Roboto-Regular.ttf");
}

// unquote shorthand
@function u($arg) { @return unquote($arg); }

// "vars" variable is set by the vars.ts import
@function _var($type, $name) { @return map-get(map-get($vars, $type), $name); }

// ===== functions for getting and using values from sass.json =====

@function data_attr($value, $attr: true) {
	@if $attr {
		@return attr(#{data_attr($value, false)});
	}
	@else {
		@return _var(data_attr, $value);
	}
}

@function class($value, $el:"") {
	@return u("#{u(#{$el})}.#{_var(cssClass, $value)}");
}


@function id($value, $el:"") {
	@return u("#{u(#{$el})}##{_var(id, $value)}");
}

@function state($value, $el:"") {
	@return u("#{u(#{$el})}.#{map-get(_var(state, $value), cssClass)}");
}

@function ui($value) {
	@return _var(ui, $value);
}

@function color($value, $transparentizeRatio: -1) {
	@if $transparentizeRatio == -1 {
		@return _var(color, $value);
	}
	@else {
		@return transparentize(color($value), $transparentizeRatio);
	}
}