/* VERSION: 5.13.1 */
$icons-solid: (
  a11y: "\EA01",
  add: "\EA02",
  address-book: "\EA03",
  admin: "\EA04",
  alerts: "\EA05",
  analytics: "\EA06",
  android: "\EA07",
  annotate: "\EA08",
  announcement: "\EA09",
  apple: "\EA0A",
  arrow-down: "\EA0B",
  arrow-end: "\EA0C",
  arrow-left: "\EA0D",
  arrow-open-down: "\EA0E",
  arrow-open-end: "\EA0F",
  arrow-open-left: "\EA10",
  arrow-open-right: "\EA11",
  arrow-open-start: "\EA12",
  arrow-open-up: "\EA13",
  arrow-right: "\EA14",
  arrow-start: "\EA15",
  arrow-up: "\EA16",
  assignment: "\EA17",
  attach-media: "\EA18",
  audio: "\EA19",
  bank: "\EA1A",
  blueprint-lock: "\EA1B",
  blueprint: "\EA1C",
  bold: "\EA1D",
  bookmark: "\EA1E",
  box: "\EA1F",
  bullet-list: "\EA20",
  calendar-add: "\EA21",
  calendar-clock: "\EA22",
  calendar-day: "\EA23",
  calendar-days: "\EA24",
  calendar-month: "\EA25",
  calendar-reserved: "\EA26",
  chat: "\EA27",
  check-dark: "\EA28",
  check-mark: "\EA29",
  check-plus: "\EA2A",
  check: "\EA2B",
  clear-text-formatting: "\EA2C",
  clock: "\EA2D",
  closed-captioning-off: "\EA2E",
  closed-captioning-on: "\EA2F",
  cloud-download: "\EA30",
  cloud-lock: "\EA31",
  collapse: "\EA32",
  collection-save: "\EA33",
  collection: "\EA34",
  commons: "\EA35",
  complete: "\EA36",
  compose: "\EA37",
  copy-course: "\EA38",
  copy: "\EA39",
  courses: "\EA3A",
  dashboard: "\EA3B",
  deactivate-user: "\EA3C",
  discussion-check: "\EA3D",
  discussion-new: "\EA3E",
  discussion-reply-2: "\EA3F",
  discussion-reply-dark: "\EA40",
  discussion-reply: "\EA41",
  discussion-search: "\EA42",
  discussion-x: "\EA43",
  discussion: "\EA44",
  document: "\EA45",
  download: "\EA46",
  drag-handle: "\EA47",
  drop-down: "\EA48",
  edit: "\EA49",
  educators: "\EA4A",
  email: "\EA4B",
  empty: "\EA4C",
  end: "\EA4D",
  equation: "\EA4E",
  equella: "\EA4F",
  essay: "\EA50",
  exit-full-screen: "\EA51",
  expand-items: "\EA52",
  expand-left: "\EA53",
  expand-start: "\EA54",
  expand: "\EA55",
  export-content: "\EA56",
  export: "\EA57",
  external-link: "\EA58",
  eye: "\EA59",
  facebook-boxed: "\EA5A",
  facebook: "\EA5B",
  fast-forward: "\EA5C",
  feedback: "\EA5D",
  file-locked: "\EA5E",
  files-copyright: "\EA5F",
  files-creative-commons: "\EA60",
  files-fair-use: "\EA61",
  files-obtained-permission: "\EA62",
  files-public-domain: "\EA63",
  filmstrip: "\EA64",
  flag: "\EA65",
  folder-locked: "\EA66",
  folder: "\EA67",
  forward: "\EA68",
  full-screen: "\EA69",
  github: "\EA6A",
  gradebook-export: "\EA6B",
  gradebook-import: "\EA6C",
  gradebook: "\EA6D",
  group-dark-new: "\EA6E",
  group-new: "\EA6F",
  group: "\EA70",
  hamburger: "\EA71",
  heart: "\EA72",
  highlighter: "\EA73",
  home: "\EA74",
  hour-glass: "\EA75",
  image: "\EA76",
  import-content: "\EA77",
  import: "\EA78",
  inbox: "\EA79",
  indent-2: "\EA7A",
  indent: "\EA7B",
  info: "\EA7C",
  instructure: "\EA7D",
  integrations: "\EA7E",
  invitation: "\EA7F",
  italic: "\EA80",
  keyboard-shortcuts: "\EA81",
  launch: "\EA82",
  life-preserver: "\EA83",
  like: "\EA84",
  link: "\EA85",
  linkedin: "\EA86",
  lock: "\EA87",
  lti: "\EA88",
  mark-as-read: "\EA89",
  marker: "\EA8A",
  masquerade: "\EA8B",
  mastery-paths: "\EA8C",
  materials-required-light: "\EA8D",
  materials-required: "\EA8E",
  mature-light: "\EA8F",
  mature: "\EA90",
  media: "\EA91",
  message: "\EA92",
  mic: "\EA93",
  mini-arrow-down: "\EA94",
  mini-arrow-end: "\EA95",
  mini-arrow-left: "\EA96",
  mini-arrow-right: "\EA97",
  mini-arrow-start: "\EA98",
  mini-arrow-up: "\EA99",
  minimize: "\EA9A",
  module: "\EA9B",
  more: "\EA9C",
  move-down-bottom: "\EA9D",
  move-down: "\EA9E",
  move-end: "\EA9F",
  move-left: "\EAA0",
  move-right: "\EAA1",
  move-start: "\EAA2",
  move-up-top: "\EAA3",
  move-up: "\EAA4",
  ms-excel: "\EAA5",
  ms-ppt: "\EAA6",
  ms-word: "\EAA7",
  muted: "\EAA8",
  next-unread: "\EAA9",
  not-graded: "\EAAA",
  note-dark: "\EAAB",
  note-light: "\EAAC",
  note: "\EAAD",
  numbered-list: "\EAAE",
  off: "\EAAF",
  open-folder: "\EAB0",
  outcomes: "\EAB1",
  outdent: "\EAB2",
  outdent2: "\EAB3",
  oval-half: "\EAB4",
  page-down: "\EAB5",
  page-up: "\EAB6",
  paint: "\EAB7",
  paperclip: "\EAB8",
  partial: "\EAB9",
  pause: "\EABA",
  pdf: "\EABB",
  peer-graded: "\EABC",
  peer-review: "\EABD",
  pin: "\EABE",
  pinterest: "\EABF",
  play: "\EAC0",
  plus: "\EAC1",
  post-to-sis: "\EAC2",
  prerequisite: "\EAC3",
  printer: "\EAC4",
  progress: "\EAC5",
  publish: "\EAC6",
  question: "\EAC7",
  quiz-stats-avg: "\EAC8",
  quiz-stats-cronbachs-alpha: "\EAC9",
  quiz-stats-deviation: "\EACA",
  quiz-stats-high: "\EACB",
  quiz-stats-low: "\EACC",
  quiz-stats-time: "\EACD",
  quiz: "\EACE",
  refresh: "\EACF",
  remove-bookmark: "\EAD0",
  remove-from-collection: "\EAD1",
  remove-link: "\EAD2",
  replied: "\EAD3",
  reply-2: "\EAD4",
  reply-all-2: "\EAD5",
  reply: "\EAD6",
  reset: "\EAD7",
  rewind: "\EAD8",
  rss-add: "\EAD9",
  rss: "\EADA",
  rubric-dark: "\EADB",
  rubric: "\EADC",
  save: "\EADD",
  search-address-book: "\EADE",
  search: "\EADF",
  settings-2: "\EAE0",
  settings: "\EAE1",
  shape-oval: "\EAE2",
  shape-polygon: "\EAE3",
  shape-rectangle: "\EAE4",
  share: "\EAE5",
  sis-imported: "\EAE6",
  sis-not-synced: "\EAE7",
  sis-synced: "\EAE8",
  skype: "\EAE9",
  speed-grader: "\EAEA",
  standards: "\EAEB",
  star-light: "\EAEC",
  star: "\EAED",
  stats: "\EAEE",
  stop: "\EAEF",
  strikethrough: "\EAF0",
  student-view: "\EAF1",
  syllabus: "\EAF2",
  table: "\EAF3",
  tag: "\EAF4",
  target: "\EAF5",
  text-background-color: "\EAF6",
  text-centered: "\EAF7",
  text-color: "\EAF8",
  text-end: "\EAF9",
  text-left: "\EAFA",
  text-right: "\EAFB",
  text-start: "\EAFC",
  text-subscript: "\EAFD",
  text-superscript: "\EAFE",
  text: "\EAFF",
  textarea: "\EB00",
  timer: "\EB01",
  toggle-end: "\EB02",
  toggle-left: "\EB03",
  toggle-right: "\EB04",
  toggle-start: "\EB05",
  trash: "\EB06",
  trouble: "\EB07",
  twitter-boxed: "\EB08",
  twitter: "\EB09",
  underline: "\EB0A",
  unlock: "\EB0B",
  unmuted: "\EB0C",
  unpublish: "\EB0D",
  unpublished: "\EB0E",
  updown: "\EB0F",
  upload: "\EB10",
  user-add: "\EB11",
  user: "\EB12",
  video-camera: "\EB13",
  video: "\EB14",
  warning: "\EB15",
  windows: "\EB16",
  wordpress: "\EB17",
  x: "\EB18",
  zipped: "\EB19",
  zoom-in: "\EB1A",
  zoom-out: "\EB1B"
);

$icons-solid-bidirectional: (


address-book: "true",




annotate: "true",
announcement: "true",


arrow-end: "true",
arrow-left: "true",

arrow-open-end: "true",
arrow-open-left: "true",
arrow-open-right: "true",
arrow-open-start: "true",

arrow-right: "true",
arrow-start: "true",

assignment: "true",

audio: "true",






bullet-list: "true",






chat: "true",















compose: "true",


courses: "true",




discussion-reply-2: "true",




discussion: "true",
document: "true",



edit: "true",






essay: "true",


expand-left: "true",
expand-start: "true",

export-content: "true",
export: "true",
external-link: "true",




feedback: "true",








folder-locked: "true",
folder: "true",
forward: "true",


gradebook-export: "true",
gradebook-import: "true",






highlighter: "true",



import-content: "true",
import: "true",

indent-2: "true",
indent: "true",

























mini-arrow-end: "true",
mini-arrow-left: "true",
mini-arrow-right: "true",
mini-arrow-start: "true",






move-end: "true",
move-left: "true",
move-right: "true",
move-start: "true",






next-unread: "true",
not-graded: "true",


note: "true",


open-folder: "true",

outdent: "true",
outdent2: "true",























quiz-stats-high: "true",
quiz-stats-low: "true",

quiz: "true",




replied: "true",
reply-2: "true",
reply-all-2: "true",
reply: "true",




rubric-dark: "true",
rubric: "true",









sis-imported: "true",











syllabus: "true",






text-end: "true",
text-left: "true",
text-right: "true",
text-start: "true",



textarea: "true",

toggle-end: "true",
toggle-left: "true",
toggle-right: "true",
toggle-start: "true",






















);